$icomoon-font-path: "../../assets/fonts";

$background: #f6f6f6;

$blue: #03286a;
$blueLight: #7082a4;
$blueSky: #CDE0EF;
$green: #259821;
$greenLight: #cfe3cb;
$greenClear: #77bb6b;
$yellow: #f7a30f;
$red: #d95f5f;
$orange: #ef6b01;
$grey: #656565;
$greyLight: #DBDBDB;
$grey_1: #707070;
$purple: #662C90;
$white: #FFF;

:export {
  blue: $blue;
  blueight: $blueLight;
  blueSky: $blueSky;
  green: $green;
  greenLight: $greenLight;
  greenClear: $greenClear;
  yellow: $yellow;
  red: $red;
  orange: $orange;
  grey: $grey;
  greyLight: $greyLight;
  grey_1: $grey_1;
  purple: $purple;
  white: $white;
}

$theme-colors: (
  "blue": $blue,
  "blue-light": $blueLight,
  "blue-sky": $blueSky,
  "green": $green,
  "green-light": $greenLight,
  "green-clear": $greenClear,
  "yellow": $yellow,
  "red": $red,
  "orange": $orange,
  "grey": $grey,
  "grey-light": $greyLight,
  "grey-1": $grey_1,
  "purple": $purple,
  "white": $white,
);

$font-sizes: 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 26, 28, 32, 34, 36, 48, 64, 72 !default;

$spacers: (
  6: 1rem * 3.5
);

$font-family-base: "Roboto", sans-serif;

.font-raleway {
  font-family: "Raleway", sans-serif !important;
}

$sizes: (
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  60: 60%,
  70: 70%,
  80: 80%,
  90: 90%
);