$icomoon-font-family: "diagnostico-precoce" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-right: "\e90b";
$icon-logo: "\e90a";
$icon-calendar: "\e900";
$icon-add: "\e901";
$icon-update: "\e902";
$icon-file: "\e903";
$icon-hourglass: "\e904";
$icon-config: "\e905";
$icon-user-group: "\e906";
$icon-worning: "\e907";
$icon-confirm: "\e908";
$icon-file-all: "\e909";

